* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colores*/
  --negro: #0c0c0c;
  --casi-negro: #2c2c2c;
  --blanco: #fafafa;
  --casi-blanco: #dbdbdb;
  --primario: #ffd953;
  --gris-clarito: #b9b9b9;

  /*fuentes*/
  --titulos: "Open Sans";
  --contenido: "Roboto";

  /*tamaños fuentes*/
  --size-titulos: 48px;
  --size-sub-titulos: 32px;
  --size-sub-sub-titulos: 24px;
  --size-contenido: 16px;
}

body {
  height: auto;
  width: 100%;
}

.grid-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "intro"
    "sobreMi"
    "servicios"
    "formulario"
    "footer";
}

.intro {
  grid-area: intro;
  background-image: url("./img/Mask\ Group.png");
  height: 100%;
  background-color: white;
  padding: 3.25vh 3.25vh 0 3.25vh;
}

.intro nav {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoP img {
  height: 80px;
  width: auto;
  margin-top: 10px;
}

nav .burger {
  height: 36px;
  width: 36px;
}

.navegacion {
  display: none;
}

.banner {
  text-align: center;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner h1 {
  width: auto;
  height: auto;
  font-size: var(--size-titulos);
  font-weight: 700;
  font-family: var(--titulos), sans-serif;
  text-align: center;
  line-height: 48px;
  margin: auto;
}

.banner img {
  height: 48vh;
  width: auto;
  margin: 0 auto;
}

.sobreMi {
  grid-area: sobreMi;
  height: 87vh;
  width: 100%;
  padding: 8.92vh 8.53% 11.03vh 8.53%;
  font-size: 1.2em;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sobreMi--title {
  color: var(--casi-blanco);
  font-family: var(--titulos), sans-serif;
  font-size: var(--size-sub-titulos);
}

.sobreMi--p {
  color: var(--casi-blanco);
  font-family: "Roboto", sans-serif;
  font-size: var(--size-contenido);
  font-weight: 400;
  margin: 9vh auto;
  text-align: left;
}

.sobreMi img {
  width: 13vh;
  height: 13vh;
  margin: 0 auto;
}

.servicios {
  grid-area: servicios;
  height: 1375px;
  width: 100%;
  background-color: var(--casi-blanco);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 11.32vh 13.86% 10.71vh 13.86%;
  background-color: var(--blanco);
}

.servicios--title {
  color: var(--casi-negro);
  font-family: var(--titulos);
  font-size: var(--size-sub-titulos);
  height: 9vh;
  width: 100%;
}

.servicios--lista {
  width: 100%;
  height: 185vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7.79vh;
}

.servicios--item {
  height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.servicios--item-h {
  color: var(--casi-negro);
  font-family: var(--titulos);
  font-size: var(--size-sub-sub-titulos);
}

.servicios--item-p {
  color: var(--casi-negro);
  font-family: var(--contenido);
  font-size: var(--size-contenido);
  font-weight: 400;
  padding: 0 13px;
}

.servicios--item img {
  height: auto;
  width: 36.8vw;
}

.formulario {
  grid-area: formulario;
  height: 107vh;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 9vh 5vw;
  color: var(--casi-blanco);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form--title {
  color: var(--casi-blanco);
  font-family: var(--titulos);
  font-size: var(--size-sub-titulos);
}

.formulario input,
.formulario textarea {
  width: 90vw;
  height: 45px;
  border: solid 3px var(--casi-negro);
  border-radius: 4px;
}

.formulario textarea {
  min-height: 120px;
  max-height: 120px;
  width: 90vw;
}

#boton {
  background-color: var(--primario);
  margin-top: 90px;
  border: none;
  border-radius: 4px;
  font-family: var(--titulos);
  font-size: var(--size-contenido);
  font-weight: 700;
}

.form--nombre,
.form--email,
.form--mensaje {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  font-family: var(--contenido);
  font-size: 13px;
}

footer {
  grid-area: footer;
  height: 80vh;
  width: 100%;
  background-color: var(--gris-clarito);
  padding-left: 6vw;
  padding-bottom: 18vh;
  padding-top: 8.6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logoPersonal {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.logoPersonal img {
  height: auto;
  width: 17vw;
}

#huella {
  font-family: var(--contenido);
  font-size: 13px;
  margin-top: 20px;
  color: #2c2c2c;
}

.listaDeLinksARedesDeContacto {
  height: 22vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listaDeLinksARedesDeContacto--list {
  list-style: none;
  height: 100%;
  width: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listaRedes--item {
  font-size: var(--contenido);
  font-family: var(--contenido);
  display: flex;
  align-items: center;
}

.listaRedes--item img {
  height: auto;
  width: 28px;
  margin-right: 2vw;
}

@media screen and (min-width: 800px) {
  .intro {
    height: 68.4vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav {
    justify-content: center;
  }

  .logoP img {
    height: 11vh;
    width: auto;
  }

  .burger {
    display: none;
  }

  .navegacion {
    min-width: 30.8vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .navegacion a {
    color: var(--negro);
    font-family: var(--titulos);
    font-size: 1.2em;
    text-decoration: none;
  }

  .navegacion a:hover {
    color: #4bd1b1;
  }

  .banner {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  .banner h1 {
    margin-top: 5vh;
    margin-left: 0;
    text-align: left;
  }

  .banner img {
    margin: 0;
    height: auto;
    width: 20vw;
    margin-right: 5vw;
  }

  .sobreMi {
    height: 59vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20vw;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sobreMi--title {
    text-align: left;
    font-size: var(--size-sub-titulos);
    margin-bottom: 28px;
  }

  .sobreMi--p {
    height: auto;
    width: 37vw;
    font-size: 3vh;
    margin: 0;
  }

  .sobreMi img {
    height: 23vh;
    width: auto;
    margin: 0;
  }

  .servicios {
    height: 70vh;
    justify-content: space-between;
    padding: 5vh 8vw 0 8vw;
  }

  .servicios--title {
    font-size: var(--size-titulos);
  }

  .servicios--lista {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .servicios--item {
    width: 34vh;
    height: 34vh;
  }

  .servicios--item-h {
    font-size: 24px;
    margin-top: 2vh;
  }

  .servicios--item-p {
    font-size: 15px;
    margin-top: 2vh;
  }

  .servicios--item img {
    height: 17vh;
    width: auto;
  }

  .formulario {
    background: var(--negro);
    height: 73vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .formulario h2 {
    font-size: var(--size-sub-titulos);
  }

  .formulario form {
    margin-left: 5vw;
    margin-top: -10px;
    max-width: 375px;
    min-height: 24vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #GET-name {
    height: 5vh;
    border-radius: 4px;
    width: 375px;
  }

  #GET-email {
    height: 5vh;
    border-radius: 4px;
    width: 375px;
  }

  textarea {
    max-width: 375px;
    min-height: 17%;
    border-radius: 4px;
  }

  .form--nombre,
  .form--email,
  .form--mensaje {
    font-family: var(--contenido);
    font-size: 13px;
    max-height: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
  }

  .formulario #boton {
    height: 5vh;
    width: 375px;
    margin-top: 5vh;
  }

  footer {
    height: 38vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(203, 200, 200);
    padding: 0;
    background-image: url(./img/MaskGroupsdf.png);
  }

  .logoPersonal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 8vw;
  }

  .logoPersonal img {
    height: 16vh;
    width: auto;
  }

  .logoPersonal span {
    font-size: 13px;
    font-family: var(--contenido);
    color: var(--casi-negro);
  }

  .listaDeLinksARedesDeContacto {
    height: 100%;
    width: auto;
    justify-content: center;
  }

  .listaDeLinksARedesDeContacto--list {
    height: 60%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .listaRedes--item {
    display: flex;
    align-items: center;
    font-family: var(--contenido);
    font-size: var(--size-contenido);
  }

  .listaRedes--item a {
    font-family: var(--contenido);
    font-size: var(--size-contenido);
    text-decoration: none;
    color: var(--casi-negro);
  }

  .listaRedes--item img {
    height: 29px;
    width: auto;
    margin-right: 1vw;
  }
}
