* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
  width: 100vw;
  background-color: blueviolet;
}

.grid-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav"
    "banner"
    "sobreMi"
    "servicios"
    "formulario"
    "footer";
}

.nav {
  grid-area: nav;
  height: 13vh;
  width: 100vw;
  color: white;
  background-color: rgb(225, 115, 115);
}

.logoP img {
  height: 80px;
  width: 80px;
}

.banner {
  grid-area: banner;
  height: 594px;
  width: 100vw;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.banner h1 {
  margin-top: 50px;
  font-size: 3em;
}

.banner img {
  height: auto;
  width: 300px;
}

.sobreMi {
  grid-area: sobreMi;
  height: 538px;
  width: 100vw;
  font-size: 1.2em;
  color: white;
  background-color: black;
}

.servicios {
  grid-area: servicios;
  height: 1375px;
  width: 100vw;
  background-color: green;
}

.formulario {
  grid-area: formulario;
  height: 660px;
  width: 100vw;
  background-color: indigo;
}

footer {
  grid-area: footer;
  height: 493px;
  width: 100vw;
  color: black;
  background-color: #dbdbdb;
}
